<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: commonHead"></head>

<body>
<div th:replace="fragments :: commonNav">공통네비</div>

<div class="container-sm bg-light p-0 pb-5">
    <div th:replace="mystore/mystore-fragments :: mystoreNav ('상품목록관리')"></div>

    <div class="row g-3 justify-content-center fs-2">
        <div class="col-sm-12">
            <div class="text-center" style="font-size: 40px">상품목록관리</div>
            <hr>
        </div>
        <div class="col-sm-12 text-center" th:if="${!mystoreDto.managerAuthenticated}">
            <div th:replace="mystore/mystore-fragments :: storeAuthDiv"></div>
        </div>
        <div class="col-sm-12 text-center">
            <span th:replace="fragments :: accountThumbnail(${mystoreDto}, 125, false)"></span>
            <span th:text="${mystoreDto.name}"></span><br>
            <span th:if="${mystoreDto.storeIntroduce != ''}" th:text="${mystoreDto.storeIntroduce}"></span>
            <small class="form-text" th:if="${mystoreDto.storeIntroduce == ''}">가게 소개를 작성해주세요!</small>
            <hr>
        </div>
        <div class="col-sm-12" th:each="map : ${itemMap}">
            <div class="row g-3 justify-content-center">
                <div class="col-sm-12">
                    <span>상품 카테고리: </span><span th:text="${map.key} "></span>
                    <a th:href="@{'/items/add?category=' + ${map.key}}" class="link-primary">
                        <i class="far fa-plus-square"></i>
                    </a>
                    <hr class="mt-0">
                </div>
                <div th:id="${item.name}" class="col-sm-12" th:each="item : ${map.value}">
                    <div class="row g-3 justify-content-center">
                        <div class="col-sm-1 align-self-center text-center">
                            <span class="link-primary position-relative">
                                    <a href="#" class="stretched-link" data-bs-toggle="modal"
                                       data-bs-target="#exampleModal" th:data-bs-item="${item.id}"
                                       th:data-bs-itemName="${item.name}"></a>
                                    <i class="far fa-minus-square"></i>
                        </span>
                        </div>
                        <div class="col-sm-2 text-center">
                            <img th:src="'/upload/item/' + ${item.thumbnail}" width="100px" height="100px"
                                 class="rounded-3">
                        </div>
                        <div class="col-sm-2 align-self-center text-center fs-5" th:text="${item.name}"></div>
                        <div class="col-sm-3 align-self-center text-center fs-5" th:text="${item.itemIntroduce}"></div>
                        <div class="col-sm-2 align-self-center text-center fs-5" th:text="${item.price} + '₩'"></div>
                        <div class="col-sm-2 align-self-center text-center fs-5">
                            <a
                                    class="btn btn-outline-success fs-4"
                                    th:href="@{'/items/' + ${item.id} + '/modify'}">수정
                            </a>
                        </div>
                    </div>
                    <hr class="mt-1">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary fs-5" data-bs-dismiss="modal">취소</button>
                <form id="modalForm" th:action="@{/}" method="post">
                    <button type="submit" class="btn btn-outline-danger fs-5">삭제</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    let exampleModal = document.getElementById('exampleModal');
    let modalForm = document.getElementById('modalForm');
    let urlPrefix = modalForm.action;

    exampleModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        let button = event.relatedTarget;
        // Extract info from data-bs-* attributes
        let itemName = button.getAttribute('data-bs-itemName');
        let item = button.getAttribute('data-bs-item');

        let modalTitle = exampleModal.querySelector('.modal-title');
        let modalBodyInput = exampleModal.querySelector('.modal-body');

        modalTitle.textContent = '상품삭제';
        modalBodyInput.innerHTML = itemName + ' 상품을 삭제하시겠습니까?<br> 삭제한 상품은 되돌릴 수 없습니다';
        modalForm.action = urlPrefix + 'items/' + item + '/delete';
    })
</script>

<script th:replace="fragments :: form-validate"></script>
</body>
</html>