<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: commonHead"></head>
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <style>
        #star span {
            text-decoration: none;
            color: gray;
        }

        #star span.on {
            color: #FFD700;
        }

    </style>
</head>
<body>
<div th:replace="fragments :: commonNav">공통네비</div>

<div class="container-sm bg-light pb-5">

    <div class="row g-3 justify-content-center">
        <div class="col-sm-12">
            <div class="row justify-content-center">
                <div class="col-sm-12" th:if="${account.role == T(com.devgyu.banchan.account.Roles).ROLE_USER}">
                    <div th:replace="mypage/mypage-fragments :: mypageNav ('리뷰조회')"></div>
                </div>
                <div class="col-sm-12" th:if="${account.role == T(com.devgyu.banchan.account.Roles).ROLE_OWNER}">
                    <div th:replace="mystore/mystore-fragments :: mystoreNav ('내리뷰조회')"></div>
                </div>
                <div class="col-sm-12" th:if="${account.role == T(com.devgyu.banchan.account.Roles).ROLE_RIDER}">
                <div th:replace="rider/rider-fragments :: riderPageNav ('리뷰조회')"></div>
            </div>
                <div class="col-sm-12 fs-1 text-center">
                    내리뷰조회
                    <hr>
                </div>
                <div class="col-sm-12 text-start">
                    <button type="button" class="btn btn-outline-success fs-4" onclick="history.back()">이전화면</button>
                </div>
                <div class="col-sm-12 fs-2 text-center" th:if="${reviewList.isEmpty()}">
                    현재 작성하신 리뷰가 아직 없으시네요!
                </div>
                <div class="col-sm-12 text-center" th:if="${!reviewList.isEmpty()}" >
                    <hr class="mt-1 bg-light">
                    <div id="reviewListDiv" class="row g-3 gx-4 justify-content-center">
                        <div class="col-sm-12 fs-3 p-3 m-0 border" th:each="review : ${reviewList}">
                            <div class="row g-3 justify-content-center">
                                <div class="col-sm-12 text-center">
                                    <img th:src="${storeMap.get(review.id).thumbnail}" width="70"/>
                                    <span th:text="'상호명: ' + ${storeMap.get(review.id).nickname}"></span>
                                </div>
                                <div class="col-sm-12">
                                    <p id="star" class="fs-2"> <!-- 부모 -->
                                        <span th:classappend="${review.starPoint >= number} ? 'on'" th:each="number : ${#numbers.sequence(1,5)}">★</span>
                                    <p>
                                    <hr>
                                </div>
                                <div class="col-sm-12">
                                    <div th:utext="${review.content}"></div>
                                </div>
                                <div class="col-sm-6" th:if="${storeReviewMap.get(review.id) != null}">
                                    <div class="text-start" style="background-color: #dee2e6"><i class="fas fa-reply fa-rotate-180"></i> 사장님 :</div>
                                    <div style="background-color: #e9ecef" th:text="${storeReviewMap.get(review.id).content}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="fragments :: normalReviewScrolling"></script>
<script th:replace="fragments :: summernoteJS"></script>
<script th:replace="fragments :: form-validate"></script>
</body>
</html>