<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: commonHead"></head>

<body>
<div th:replace="fragments :: commonNav">공통네비</div>

<div class="container-sm bg-light p-2 pb-5">
    <div class="row g-3 justify-content-center">
        <div class="col-sm-12">
            <div class="col-sm-12 text-center">
                <div class="mb-3">
                    <span th:replace="fragments :: accountThumbnail(${alarmAccountDto}, 125, false)"></span>
                    <span class="fs-1" th:text="${' ' + alarmAccountDto.name + '님께 도착한 알림목록입니다'}"></span>
                </div>
            </div>
            <hr>
        </div>

        <div class="col-sm-10 mb-1">
            <div class="row g-3 justify-content-center">

                <div class="col-sm-2">
                    <div th:replace="alarm/alarm-fragments :: alarmNav(${command})"></div>
                </div>

                <div class="col-sm-10">
                    <div id="alarmListDiv" class="row g-3 justify-content-center">
                        <div class="col-sm-12 text-center fs-1" th:if="${alarmList.isEmpty()}">
                            새로운 알림이 없습니다
                        </div>
                        <div class="col-sm-12" th:if="${!alarmList.isEmpty()}" th:each="alarm : ${alarmList}">

                            <div th:if="${alarm.alarmType == T(com.devgyu.banchan.alarm.AlarmType).ORDER_ACCEPTED}">
                                <div class="form-text fs-4">확인된 주문이 있습니다!</div>
                                <hr>
                                <div class="text-start"
                                     th:text="${#temporals.format(alarm.alertDate, 'yyyy-MM-dd')}"></div>
                                <div th:text="${alarm.content}"></div>
                                <hr>
                            </div>

                            <div th:if="${alarm.alarmType == T(com.devgyu.banchan.alarm.AlarmType).ORDER_REJECTED}">
                                <div class="form-text fs-4">주문이 취소되었습니다!</div>
                                <hr>
                                <div class="text-start"
                                     th:text="${#temporals.format(alarm.alertDate, 'yyyy-MM-dd')}"></div>
                                <div th:text="${alarm.content}"></div>
                                <hr>
                            </div>

                            <div th:if="${alarm.alarmType == T(com.devgyu.banchan.alarm.AlarmType).DELIVERY_START}">
                                <div class="form-text fs-4">배달이 시작되었습니다!</div>
                                <hr>
                                <div class="text-start"
                                     th:text="${#temporals.format(alarm.alertDate, 'yyyy-MM-dd')}"></div>
                                <div th:text="${alarm.content}"></div>
                                <hr>
                            </div>

                            <div th:if="${alarm.alarmType == T(com.devgyu.banchan.alarm.AlarmType).COMPLETED}">
                                <div class="form-text fs-4">배달이 완료되었습니다!</div>
                                <hr>
                                <div class="text-start"
                                     th:text="${#temporals.format(alarm.alertDate, 'yyyy-MM-dd')}"></div>
                                <div th:text="${alarm.content}"></div>
                                <hr>
                            </div>

                            <div th:if="${alarm.alarmType == T(com.devgyu.banchan.alarm.AlarmType).RIDER_ORDER_ACCEPT}">
                                <div class="form-text fs-4">라이더님이 배달을 수락하셨습니다!</div>
                                <hr>
                                <div class="text-start"
                                     th:text="${#temporals.format(alarm.alertDate, 'yyyy-MM-dd')}"></div>
                                <div th:text="${alarm.content}"></div>
                                <hr>
                            </div>

                            <div th:if="${alarm.alarmType == T(com.devgyu.banchan.alarm.AlarmType).STORE_ACCEPTED}">
                                <div class="form-text fs-4">가게 승인이 완료되었습니다!</div>
                                <hr>
                                <div class="text-start"
                                     th:text="${#temporals.format(alarm.alertDate, 'yyyy-MM-dd')}"></div>
                                <div th:text="${alarm.content}"></div>
                                <hr>
                            </div>

                            <div th:if="${alarm.alarmType == T(com.devgyu.banchan.alarm.AlarmType).STORE_REJECTED}">
                                <div class="form-text fs-4">가게 변동사항을 다시한번 확인해주세요!</div>
                                <hr>
                                <div class="text-start"
                                     th:text="${#temporals.format(alarm.alertDate, 'yyyy-MM-dd')}"></div>
                                <div th:text="${alarm.content}"></div>
                                <hr>
                            </div>

                            <div th:if="${alarm.alarmType == T(com.devgyu.banchan.alarm.AlarmType).RIDER_ACCEPTED}">
                                <div class="form-text fs-4">관리자가 권한을 승인하였습니다!</div>
                                <hr>
                                <div class="text-start"
                                     th:text="${#temporals.format(alarm.alertDate, 'yyyy-MM-dd')}"></div>
                                <div th:text="${alarm.content}"></div>
                                <hr>
                            </div>

                            <div th:if="${alarm.alarmType == T(com.devgyu.banchan.alarm.AlarmType).RIDER_REJECTED}">
                                <div class="form-text fs-4">라이더님의 정보를 다시 한번 확인해주세요!</div>
                                <hr>
                                <div class="text-start"
                                     th:text="${#temporals.format(alarm.alertDate, 'yyyy-MM-dd')}"></div>
                                <div th:text="${alarm.content}"></div>
                                <hr>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<script>
    // 무한 스크롤링
    let ajaxReady = true;
    let nowPage = 1;
    let isLast = false;
    let alarmListDiv = document.getElementById('alarmListDiv');
    let command = '[[${command}]]'

    $(document).ready(function () {
        $(document).scroll(function () {
            var maxHeight = $(document).height();
            var currentScroll = $(window).scrollTop() + $(window).height();

            if (currentScroll >= maxHeight - 100 && ajaxReady && !isLast) {
                ajaxReady = false;
                $.ajax({
                    url: '/alarm/api/' + command + '?page=' + nowPage,
                    type: 'get',
                    dataType: 'json',
                    success: function (result) {
                        ajaxReady = false;
                        isLast = result.last;
                        let alarmList = result.alarmDtoList;
                        for (let alarm of alarmList) {
                            let alertDate = alarm.alertDate;
                            let content = alarm.content;
                            let alarmType = alarm.alarmType;

                            let alarmParentDiv = document.createElement('div');
                            alarmParentDiv.className = 'col-sm-12';

                            let alarmTopDiv = document.createElement('div');
                            alarmTopDiv.className = 'form-text fs-4';
                            if (alarmType == 'ORDER_ACCEPTED') {
                                alarmTopDiv.innerText = '확인된 주문이 있습니다!';
                            }else if(alarmType == 'ORDER_REJECTED'){
                                alarmTopDiv.innerText = '주문이 취소되었습니다!';
                            }else if(alarmType == 'DELIVERY_START'){
                                alarmTopDiv.innerText = '배달이 시작되었습니다!';
                            }else if(alarmType == 'RIDER_ORDER_ACCEPT'){
                                alarmTopDiv.innerText = '님이 배달을 수락하셨습니다!';
                            }else if(alarmType == 'COMPLETED'){
                                alarmTopDiv.innerText = '배달이 완료되었습니다!';
                            }else if(alarmType == 'STORE_ACCEPTED'){
                                alarmTopDiv.innerText = '가게 승인이 완료되었습니다!';
                            }else if(alarmType == 'STORE_REJECTED'){
                                alarmTopDiv.innerText = '가게 변동사항을 다시한번 확인해주세요!';
                            }else if(alarmType == 'RIDER_ACCEPTED'){
                                alarmTopDiv.innerText = '관리자가 권한을 승인하였습니다!';
                            }else if(alarmType == 'RIDER_REJECTED'){
                                alarmTopDiv.innerText = '라이더님의 정보를 다시 한번 확인해주세요!';
                            }else{
                                continue;
                            }
                            alarmParentDiv.appendChild(alarmTopDiv);

                            let firstHr = document.createElement('hr');
                            alarmParentDiv.appendChild(firstHr);

                            let alarmDateDiv = document.createElement('div');
                            alarmDateDiv.className = 'text-start';
                            alarmDateDiv.innerText = alertDate;
                            alarmParentDiv.appendChild(alarmDateDiv);

                            let alarmContentDiv = document.createElement('div');
                            alarmContentDiv.innerText = content;
                            alarmParentDiv.appendChild(alarmContentDiv);

                            let secondHr = document.createElement('hr');
                            alarmParentDiv.appendChild(secondHr);
                            alarmListDiv.appendChild(alarmParentDiv);
                        }


                        nowPage++;
                        ajaxReady = true;
                    },
                    error: function () {
                        alert('주문 목록을 불러오던 중 에러가 발생했습니다. 에러가 지속적으로 발생시 관리자에게 문의해주세요');
                    }
                });
            }
        });
    });
</script>
</body>
</html>