<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<h2 style="text-align: center">
  <span th:text="${nickname} + '님! '"></span><br>
  <span>반찬의 민족에 가입해주셔서 진심으로 감사드립니다.</span>
</h2>

<div style="text-align: center">
  <span>아래 링크를 클릭하시면 반찬의 민족에서 제공하는 모든 서비스를 이용하실 수 있으니 꼭 눌러주세요!</span><br>
  <a th:href="@{${url}}">이동하기</a>
</div>

<div style="text-align: center">
  <span>만약 링크가 작동하지 않는다면 아래 주소를 주소창에 복사해 접속해주세요!</span><br>
  <span th:text="${url}"></span>
</div>

<div style="text-align: center">고객님께 더욱 편리한 서비스를 제공하도록 노력하겠습니다.</div>

<h2 style="text-align: center">반찬의 민족 드림</h2>
</body>
</html>