<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: commonHead"></head>
<head>
  <script src="/webjars/sockjs-client/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>

<body>
<div th:replace="fragments :: commonNav">공통네비</div>

<div class="container-sm bg-light pb-5">
  <div class="row g-3 justify-content-center fs-2">
    <div class="col-sm-10">
      <h2>고객문의</h2>
      <hr>
    </div>
    <div id="messageDiv" class="col-sm-10 fs-4" style="height: 500px; overflow: auto; background-color: #ffffff">
      <div th:if="${chatList != null}" th:each="chat : ${chatList}">
        <div th:id="${chat.id}" class="text-end" th:if="${chat.chatRole == T(com.devgyu.banchan.chat.ChatRole).COUNSELOR}">
          <span th:text="${counselorNickname}"></span><br>
          <span style="background-color: #FFD700" th:text="${chat.message}"></span>
        </div>
        <div th:id="${chat.id}" class="text-start" th:if="${chat.chatRole == T(com.devgyu.banchan.chat.ChatRole).NORMAL}">
          <span th:text="${accountNickname}"></span><br>
          <span style="background-color: #F5F5F5" th:text="${chat.message}"></span>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <form onsubmit="return false" class="row justify-content-center">
        <div class="form-group col-sm-9 align-self-center">
          <input type="text" id="chatMessage" class="form-control" placeholder="메시지를 입력해주세요."/>
        </div>
        <div class="form-group col-sm-3 align-self-center d-grid">
          <button id="chatSend" class="btn btn-outline-primary" type="button">보내기</button>
        </div>
      </form>
    </div>
    <div class="col-sm-10 d-grid">
      <a th:href="@{/counselor/list}" class="btn btn-outline-success fs-5">목록화면으로이동</a>
    </div>
  </div>
</div>
<script>
  var stompClient = null;
  let messageDiv = document.getElementById('messageDiv');
  let sessionId = '[[${sessionId}]]';
  let previousStatus = '[[${previousStatus}]]';
  let host = '[[${host}]]';
  let ajaxReady = true;
  let isLast = false;
  let nowPage = 1;
  let firstId;
  let isDuplicated = false;

  function connect() {
    var socket = new SockJS(host + '/websocket');
    stompClient = Stomp.over(socket);
    // SockJS와 stomp client를 통해 연결을 시도.
    stompClient.connect({}, function (frame) {
      console.log(frame);
      if(previousStatus == 'WAITING'){
      stompClient.send("/app/counselor/" + sessionId + "/join", {}, JSON.stringify({
        'message' : '',
        'sessionId' : sessionId
      }));
      }
      stompClient.subscribe('/queue/chat/' + sessionId , function (chat) {
        showChat(JSON.parse(chat.body));
        sendRead(JSON.parse(chat.body));
      });
    });
  }
  function sendRead(chat){
    let url = '';
    if(chat != null){
      url = '/counselor/api/' + sessionId + '/read-chat?role=' + chat.chatRole;
    }else{
      url = '/counselor/api/' + sessionId + '/read-chat'
    }
    $.ajax({
      url: url,
      type: 'get',
      success: function () {
      },
      error: function () {
        alert('서버와 통신중 에러가 발생했습니다. 계속 에러가 발생할경우 관리자에게 문의해주세요');
      }
    });
  }
  function sendChat() {
    let message = $('#chatMessage').val();
    if(message !== '') {
      stompClient.send("/app/counselor/" + sessionId, {}, JSON.stringify({
        'message': message,
        'sessionId' : sessionId
      }));
      $('#chatMessage').val('');
    }
  }

  function addMessages(){
    let currentScroll = messageDiv.scrollTop;
    if(currentScroll < 1 && ajaxReady && !isLast) {
      ajaxReady = false;
      $.ajax({
        url: '/counselor/api/' + sessionId + '/scrolling?page=' + nowPage,
        type: 'get',
        dataType: 'json',
        success: function (result) {
          let chatDtoList = result.chatDtoList;
          isLast = result.last;

          for (let chatDto of chatDtoList) {
            let chatRole = chatDto.chatRole;
            let message = chatDto.message;
            let nickname = chatDto.nickname;
            let id = chatDto.id;


            if(chatDto == chatDtoList[0]){
              firstId = id;
            }

            if(document.getElementById(id) != null){
              firstId = id;
              isDuplicated = true;
              continue;
            }

            let chatContainer = document.createElement('div');
            chatContainer.id = id;

            if(chatRole == 'NORMAL'){
              chatContainer.className = 'text-start';
              let nickNameSpan = document.createElement('span');
              nickNameSpan.innerHTML = nickname + '<br>';
              chatContainer.appendChild(nickNameSpan);

              let messageSpan = document.createElement('span');
              messageSpan.style.backgroundColor = '#F5F5F5';
              messageSpan.innerText = message;
              chatContainer.appendChild(messageSpan);

              messageDiv.prepend(chatContainer);
            }else{
              chatContainer.className = 'text-end';
              let nickNameSpan = document.createElement('span');
              nickNameSpan.innerHTML = nickname + '<br>';
              chatContainer.appendChild(nickNameSpan);

              let messageSpan = document.createElement('span');
              messageSpan.style.backgroundColor = '#FFD700';
              messageSpan.innerText = message;
              chatContainer.appendChild(messageSpan);

              messageDiv.prepend(chatContainer);
            }
          }
          if(isDuplicated){
            // 스크롤 도중에 채팅이 늘어나면 마지막 1개가 뒤로 밀려 서로 겹치게됨.
            // 따라서 1개만큼 더 스크롤바 위치가 이동해야함
            firstId = $('#' + firstId).prev().attr('id');
            isDuplicated = false;
          }

          if(!isLast) {
            let offset = $('#' + firstId).prev().offset();
            $('#messageDiv').animate({scrollTop: offset.top}, 0);
          }else {
            $('#messageDiv').animate(0, 0);
          }

          ajaxReady = true;
          if(!isLast) nowPage++;
        }, error: function () {
          alert('채팅목록을 가져오는 중 에러가 발생하였습니다. 계속 발생할경우 관리자에게 문의해주세요.');
          ajaxReady = true;
        }
      });
    }
  }

  function showChat(chat) {
    if(chat == null){
      return;
    }
    let role = chat.chatRole;

    if(role == 'COUNSELOR') {
      let messageContainer = document.createElement('div');
      messageContainer.className = 'text-end';

      let nicknameSpan = document.createElement('span');
      nicknameSpan.innerHTML = chat.nickname + '<br>';
      messageContainer.appendChild(nicknameSpan);

      let contentSpan = document.createElement('span');
      contentSpan.innerHTML = chat.message;
      contentSpan.style.backgroundColor = '#FFD700';
      messageContainer.appendChild(contentSpan);
      messageDiv.appendChild(messageContainer);
    }else if(role == 'NORMAL'){
      let messageContainer = document.createElement('div');
      messageContainer.className = 'text-start';

      let nicknameSpan = document.createElement('span');
      nicknameSpan.innerHTML = chat.nickname;
      messageContainer.appendChild(nicknameSpan);

      let br = document.createElement('br');
      messageContainer.appendChild(br);

      let contentSpan = document.createElement('span');
      contentSpan.innerHTML = chat.message;
      contentSpan.style.backgroundColor = '#F5F5F5';
      messageContainer.appendChild(contentSpan);
      messageDiv.appendChild(messageContainer);
    }else{
      makeCreateMessage(chat);
    }
    if(messageDiv.lastElementChild != null) {
      messageDiv.lastElementChild.scrollIntoView({behavior: "smooth"});
    }
  }

  function makeCreateMessage(chat){
    let createMessageContainer = document.createElement('div');
    createMessageContainer.innerHTML = chat.message;
    createMessageContainer.className = 'alert alert-info text-center fs-3';
    createMessageContainer.id = 'createMessage';
    messageDiv.appendChild(createMessageContainer);
  }

  $(function () {
    sendRead(null);
    $( "#chatSend" ).click(function(){ sendChat(); });
    $( "#chatMessage" ).keydown(function(event){
      if(event.keyCode == 13){
        sendChat();  // 실행할 이벤트
      }
    });
    connect();
    if(messageDiv.lastElementChild != null) {
      messageDiv.lastElementChild.scrollIntoView({behavior: "smooth"});
    }
    $('#messageDiv').on('scroll', function (){
      addMessages();
    });
  });
</script>

</body>
</html>