<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: commonHead"></head>

<body>
<div th:replace="fragments :: commonNav">공통네비</div>

<div class="container-sm bg-light pb-5">

    <div class="row g-3 justify-content-center fs-2">
        <div class="col-sm-12">
            <div class="row g-3 justify-content-center">
                <div class="col-sm-12 fs-2">
                    <div th:replace="store/store-fragments :: storeNav ('상품', ${storeDto.id})"></div>
                </div>
                <div class="col-sm-12 text-start">
                    <button type="button" class="btn btn-outline-success fs-4" onclick="history.back()">이전화면</button>
                </div>
                <div class="col-sm-12 text-center fs-1">
                    <div th:replace="fragments :: accountThumbnail(${storeDto}, 125, false)"></div>
                    <span th:id="${storeDto.id + 'storename'}" th:text="${storeDto.name}"></span>
                </div>
                <div class="col-sm-12 text-center fs-3">
                    <span th:id="${storeDto.id + 'store-road'}" th:text="${storeDto.road}"></span>
                    <span class="position-relative link-primary" th:id="${storeDto.id}"
                          onclick="makeMap(this, 'store')">
                            <a href="#" class="stretched-link" onclick="return false;"></a>
                            <i class="fas fa-map-marked-alt"></i>
                        </span>
                </div>
                <div class="col-sm-12 text-center fs-1">
                    <span class="form-text" th:if="${storeDto.storeIntroduce != null}"
                          th:text="${storeDto.storeIntroduce}"></span>
                    <small class="form-text" th:if="${storeDto.storeIntroduce == null}"
                           th:text="${storeDto.name}"></small>
                    <hr>
                </div>
                <div th:id="${storeDto.id + 'storetd'}" class="col-sm-12 text-center"></div>
            </div>
        </div>
        <div class="col-sm-12" th:each="map : ${itemMap}">
            <div class="row g-3 justify-content-center">
                <div class="col-sm-12">
                    <span>상품 카테고리: </span><span th:text="${map.key} "></span>
                    <hr class="mt-0">
                </div>
                <div th:id="${item.name}" class="col-sm-12" th:each="item : ${map.value}">
                    <div class="row g-3 justify-content-center position-relative">
                        <div class="col-sm-2 text-center">
                            <img th:src="'/upload/item/' + ${item.thumbnail}" width="100px" height="100px"
                                 class="rounded-3">
                        </div>
                        <div class="col-sm-2 align-self-center text-center fs-4" th:text="${item.name}"></div>
                        <div class="col-sm-5 align-self-center text-center fs-4" th:text="${item.itemIntroduce}"></div>
                        <div class="col-sm-2 align-self-center text-center fs-4" th:text="${item.price} + '₩'"></div>
                        <a th:href="@{'/store/' + ${item.id} + '/selectoption'}" class="stretched-link"></a>
                    </div>
                    <hr class="mt-1">
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="store/store-fragments :: storeMapJs"></script>
<script th:replace="fragments :: form-validate"></script>
</body>
</html>