<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: commonHead"></head>
<head>
    <style>
        #star span {
            text-decoration: none;
            color: gray;
        }

        #star span.on {
            color: #FFD700;
        }

    </style>
</head>
<body>
<div th:replace="fragments :: commonNav">공통네비</div>

<div class="container-sm bg-light pb-5">

    <div class="row g-3 justify-content-center">
        <div class="col-sm-12">
            <div class="row g-3 justify-content-center">
                <div class="col-sm-12 fs-2">
                    <div th:replace="store/store-fragments :: storeNav ('리뷰', ${storeId})"></div>
                </div>
                <div class="col-sm-12 text-start">
                    <button type="button" class="btn btn-outline-success fs-4" onclick="history.back()">이전화면</button>
                </div>
                <div class="col-sm-12 fs-1 text-center" style="background-color: #e9ecef">
                    리뷰조회
                </div>
                <div class="col-sm-12 text-center">
                    <hr class="mt-1 bg-light">
                    <div class="row gx-4 justify-content-center">
                        <div class="col-sm-12 fs-2" th:if="${reviewList.isEmpty()}">
                            아직 가게 리뷰가 없네요!<br> 곧 작성될 예정이에요~
                        </div>
                        <div class="col-sm-12 fs-3 p-3 border" th:if="${!reviewList.isEmpty()}" th:each="review : ${reviewList}">
                            <div class="row g-3 justify-content-center">
                                <div class="col-sm-12 text-center">
                                    <img th:src="${accountMap.get(review.regDate).thumbnail}" width="70"/>
                                    <span th:text="'작성자: ' + ${accountMap.get(review.regDate).nickname}"></span>
                                </div>
                                <div class="col-sm-12">
                                    <p id="star" class="fs-2"> <!-- 부모 -->
                                        <span th:classappend="${review.starPoint >= number} ? 'on'" th:each="number : ${#numbers.sequence(1,5)}">★</span>
                                    <p>
                                    <hr>
                                </div>
                                <div class="col-sm-12">
                                    <div th:utext="${review.content}"></div>
                                </div>
                                <div class="col-sm-6" th:if="${storeReviewMap.get(review.regDate) != null}">
                                    <div class="text-start" style="background-color: #dee2e6"><i class="fas fa-reply fa-rotate-180"></i> 사장님 :</div>
                                    <hr class="m-0">
                                    <div style="background-color: #e9ecef" th:text="${storeReviewMap.get(review.regDate).content}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments :: form-validate"></script>
</body>
</html>