<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="storeNav (nowPage, storeId)">
    <nav class="nav nav-pills nav-justified">
        <a class="nav-link border" aria-current="page" th:href="@{'/store/' + ${storeId}}" th:classappend="${nowPage == '상품'} ? 'active'">상품</a>
        <a class="nav-link border" aria-current="page" th:href="@{'/store/' + ${storeId} + '/review'}" th:classappend="${nowPage == '리뷰'} ? 'active'">리뷰</a>
    </nav>
</div>

<div th:fragment="storeMapJs">
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9592e762541282dc4f2596f4108d38d9&libraries=services"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        $('a[href="#"]').on('click', function (e) {
            e.preventDefault();
        });
    });

    function makeMap(object, position) {
        let id = object.getAttribute('id');
        let road;
        let td;
        let placename;
        let accounttd = document.getElementById(id + 'accounttd');
        if (accounttd == null || position == 'store') {
            td = document.getElementById(id + 'storetd');
            placename = document.getElementById(id + 'storename').innerText;
            road = document.getElementById(id + 'store-road').innerText;
        } else {
            td = accounttd;
            placename = document.getElementById(id + 'account-road').innerText;
            road = document.getElementById(id + 'account-road').innerText;
        }
        let container = document.getElementById(id + 'mapDiv');
        if (container == null) {
            container = document.createElement('div') //지도를 담을 영역의 DOM 레퍼런스
            container.id = id + 'mapDiv';
            container.style.width = '100%';
            container.style.height = '400px';
            td.appendChild(container);
        } else {
            td.removeChild(container);
            return;
        }
        var options = { //지도를 생성할 때 필요한 기본 옵션
            center: new kakao.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표.
            level: 3 //지도의 레벨(확대, 축소 정도)
        };

        var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

        // 우측에 확대 슬라이드 바 생성
        var zoomControl = new kakao.maps.ZoomControl();
        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();

        // 주소로 좌표를 검색합니다
        geocoder.addressSearch(road, function (result, status) {

            // 정상적으로 검색이 완료됐으면
            if (status === kakao.maps.services.Status.OK) {

                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                // 결과값으로 받은 위치를 마커로 표시합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: coords
                });

                // 인포윈도우로 장소에 대한 설명을 표시합니다
                var infowindow = new kakao.maps.InfoWindow({
                    content: '<div style="width:150px;text-align:center;padding:6px 0;">' + placename + '</div>'
                });
                infowindow.open(map, marker);

                // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다 (panTo = 부드럽게이동)
                map.panTo(coords);
            }
        });
    }
    </script>
</div>
</html>