<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: commonHead"></head>

<body>
<div th:replace="fragments :: commonNav">공통네비</div>
<div class="container-sm bg-light p-1 pb-5">
    <div class="row g-3 justify-content-center">
        <div class="col-sm-12 fs-1">회원가입 <hr> </div>
        <div class="col-sm-12">
            어느 유형에 가입을 희망하시나요?<br>
            희망하시는 유형의 버튼을 클릭 해 주세요
        </div>
        <div class="col-sm-4 d-grid">
            <a th:href="@{/register/user}" class="btn btn-outline-primary fs-3">고객님</a>
        </div>
        <div class="col-sm-4 d-grid">
            <a th:href="@{/register/owner}" class="btn btn-outline-success fs-3">파트너 사장님</a>
        </div>
        <div class="col-sm-4 d-grid">
            <a th:href="@{/register/rider}" class="btn btn-outline-info fs-3">라이더님</a>
        </div>
    </div>
</div>
<script th:replace="fragments :: addressJavaScript"></script>

</body>
</html>