<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: commonHead"></head>

<body>
<div th:replace="fragments :: commonNav">공통네비</div>
<div class="container-sm bg-light p-1 pb-5">
    <div class="row justify-content-center">
        <div class="col-sm-12 fs-1">회원가입 <hr> </div>
        <div class="col-sm-12">
            <form th:action="@{/register}" method="post" class="row needs-validation" th:object="${registerDto}" novalidate>
                <div class="form-group col-sm-7">
                    <label for="email" class="form-label">이메일:</label>
                    <input id="email" type="email" name="email" class="form-control" th:field="*{email}" required>
                    <small class="invalid-feedback">올바른 이메일을 입력해주세요.</small><br>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                </div>
                <div class="form-group col-sm-7">
                    <label for="password" class="form-label">비밀번호:</label>
                    <input id="password" type="password" name="password" class="form-control" th:field="*{password}" minlength="4" maxlength="20" required>
                    <small class="form-text">특수문자 제외 최소 1글자 ~ 20글자 사이로 입력해주세요.</small><br>
                    <small class="invalid-feedback">올바른 패스워드를 입력해주세요.</small><br>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                </div>
                <div class="form-group col-sm-7">
                    <label for="nickname" class="form-label">닉네임:</label>
                    <input id="nickname" type="text" name="nickname" class="form-control" th:field="*{nickname}" minlength="2" maxlength="10" required>
                    <small class="form-text">특수문자 제외 최소 1글자 ~ 10글자 사이로 입력해주세요.</small><br>
                    <small class="invalid-feedback">올바른 닉네임을 입력해주세요.</small><br>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></small>
                </div>
                <div class="form-group col-sm-7">
                    <label for="name" class="form-label">이름:</label>
                    <input id="name" type="text" name="name" class="form-control" th:field="*{name}" minlength="2" maxlength="10" required>
                    <small class="form-text">한글로 최소 2글자 ~ 10글자 사이로 입력해주세요.</small><br>
                    <small class="invalid-feedback">이름을 올바르게 입력해주세요.</small><br>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                </div>
                <div class="form-group col-sm-7">
                    <label for="phone" class="form-label">휴대폰번호:</label>
                    <input id="phone" type="text" name="phone" class="form-control" th:field="*{phone}" required>
                    <small class="form-text">- 제외한 휴대폰 번호를 입력해주세요.</small><br>
                    <small id="phone-error" class="invalid-feedback">올바른 휴대폰 번호를 입력해주세요.</small><br>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>
                </div>
                <script>
                    let phone = document.getElementById('phone');
                    document.addEventListener('DOMContentLoaded', function (){
                        phone.addEventListener('change',function(){
                            let regExp = /^\d{10,11}$/;
                            if(!regExp.exec(phone.value)){
                                $('#phone-error').show();
                            }
                        })
                    });
                </script>
                <div class="col-sm-5"></div>
                <div class="form-group col-sm-4">
                    <div class="row">
                        <label for="searchButton" class="form-label">우편번호:</label>
                        <div class="col-sm-6">
                            <input id="sample4_postcode" type="text" name="zipcode" class="form-control" th:field="*{zipcode}" required>
                            <small class="invalid-feedback">필수항목입니다.</small><br>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}"></small>
                        </div>
                        <div class="col-sm-6">
                            <input id="searchButton" type="button"
                                   class="btn btn-outline-primary" onclick="sample4_execDaumPostcode()" value="우편번호 찾기" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8"></div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="searchButton" class="form-label">도로명주소:</label>
                            <input id="sample4_roadAddress" type="text" name="road" class="form-control" th:field="*{road}" required>
                            <small class="invalid-feedback">필수 항목 입니다.</small><br>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('road')}" th:errors="*{road}"></small>
                        </div>
                        <div class="col-sm-6">
                            <label for="searchButton" class="form-label">지번주소:</label>
                            <input id="sample4_jibunAddress" type="text" name="jibun" class="form-control" th:field="*{jibun}" required>
                            <small class="invalid-feedback">필수 항목 입니다.</small><br>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('jibun')}" th:errors="*{jibun}"></small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="searchButton" class="form-label">상세주소:</label>
                    <input id="sample4_detailAddress" type="text" name="detail" class="form-control" th:field="*{detail}" required>
                    <small class="invalid-feedback">필수 항목 입니다.</small><br>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}"></small>
                </div>
                <div class="form-group col-sm-4">
                    <label for="searchButton" class="form-label">참고항목:</label>
                    <input id="sample4_extraAddress" type="text" name="extra" class="form-control" th:field="*{extra}" required>
                    <small class="invalid-feedback">필수 항목 입니다.</small><br>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('extra')}" th:errors="*{extra}"></small>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-outline-success fs-3">회원가입</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }
            }
        }).open();
    }
</script>
</body>
</html>