<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: commonHead"></head>

<body>
<div th:replace="fragments :: commonNav">공통네비</div>
<div class="container-sm bg-light p-1 pb-5">
    <div class="row justify-content-center">
        <div class="col-sm-12 fs-1">회원가입 <hr> </div>
        <div class="col-sm-12">
            <form th:action="@{/register/rider}" method="post" class="row needs-validation" th:object="${riderRegisterDto}" novalidate>
                <div class="form-group col-sm-7">
                    <label for="driverLicense" class="form-label">운전면허번호:</label>
                    <input id="driverLicense" type="text" name="driverLicense" class="form-control" th:field="*{driverLicense}" required>
                    <small class="form-text">-를 포함한 전체 운전면허번호를 입력 해 주세요<br></small>
                    <small class="invalid-feedback">올바른 운전면허번호를 입력해주세요<br></small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('driverLicense')}" th:errors="*{driverLicense}"></small>
                </div>
                <div class="form-group col-sm-7">
                    <label for="email" class="form-label">이메일:</label>
                    <input id="email" type="email" name="email" class="form-control" th:field="*{email}" required>
                    <small class="form-text">@를 포함한 전체 이메일을 입력 해 주세요<br></small>
                    <small class="invalid-feedback">올바른 이메일을 입력해주세요.<br></small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                </div>
                <div class="form-group col-sm-7">
                    <label for="password" class="form-label">비밀번호:</label>
                    <input id="password" type="password" name="password" class="form-control" th:field="*{password}" minlength="4" maxlength="20" required>
                    <small class="form-text">특수문자 제외 최소 1글자 ~ 20글자 사이로 입력해주세요.</small><br>
                    <small class="invalid-feedback">올바른 패스워드를 입력해주세요.<br></small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                </div>
                <div class="form-group col-sm-7">
                    <label for="nickname" class="form-label">닉네임:</label>
                    <input id="nickname" type="text" name="nickname" class="form-control" th:field="*{nickname}" minlength="2" maxlength="10" required>
                    <small class="form-text">특수문자 제외 최소 2글자 ~ 10글자 사이로 입력해주세요.</small><br>
                    <small class="invalid-feedback">올바른 닉네임을 입력해주세요.<br></small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></small>
                </div>
                <div class="form-group col-sm-7">
                    <label for="name" class="form-label">이름:</label>
                    <input id="name" type="text" name="name" class="form-control" th:field="*{name}" minlength="2" maxlength="10" required>
                    <small class="form-text">한글로 최소 2글자 ~ 10글자 사이로 입력해주세요.<br></small>
                    <small class="invalid-feedback">이름을 올바르게 입력해주세요.<br></small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                </div>
                <div class="form-group col-sm-7">
                    <label for="phone" class="form-label">휴대폰번호:</label>
                    <input id="phone" type="text" name="phone" class="form-control" th:field="*{phone}" minlength="10" maxlength="11" required>
                    <small class="form-text">-를 제외한 휴대폰 번호를 입력해주세요.<br></small>
                    <small id="phone-error" class="invalid-feedback">올바른 휴대폰 번호를 입력해주세요.<br></small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>
                </div>
                <script th:replace="fragments :: phone-validate"></script>

                <div class="col-sm-5"></div>
                <div class="form-group col-sm-4">
                    <div class="row">
                        <label for="searchButton" class="form-label">우편번호:</label>
                        <div class="col-sm-6">
                            <input id="sample4_postcode" type="text" name="zipcode" class="form-control" th:field="*{zipcode}" required>
                            <small class="invalid-feedback">필수항목입니다.<br></small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}"></small>
                        </div>
                        <div class="col-sm-6">
                            <input id="searchButton" type="button"
                                   class="btn btn-outline-primary" onclick="sample4_execDaumPostcode()" value="우편번호 찾기" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8"></div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="searchButton" class="form-label">도로명주소:</label>
                            <input id="sample4_roadAddress" type="text" name="road" class="form-control" th:field="*{road}" required>
                            <small class="invalid-feedback">필수 항목 입니다.<br></small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('road')}" th:errors="*{road}"></small>
                        </div>
                        <div class="col-sm-6">
                            <label for="searchButton" class="form-label">지번주소:</label>
                            <input id="sample4_jibunAddress" type="text" name="jibun" class="form-control" th:field="*{jibun}" required>
                            <small class="invalid-feedback">필수 항목 입니다.<br></small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('jibun')}" th:errors="*{jibun}"></small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="searchButton" class="form-label">상세주소:</label>
                    <input id="sample4_detailAddress" type="text" name="detail" class="form-control" th:field="*{detail}" required>
                    <small class="invalid-feedback">필수 항목 입니다.<br></small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}"></small>
                </div>
                <div class="form-group col-sm-4">
                    <label for="searchButton" class="form-label">참고항목:</label>
                    <input id="sample4_extraAddress" type="text" name="extra" class="form-control" th:field="*{extra}">
                    <small class="invalid-feedback">필수 항목 입니다.<br></small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('extra')}" th:errors="*{extra}"></small>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-outline-success fs-3">회원가입</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:replace="fragments :: addressJavaScript"></script>
<script th:replace="fragments :: form-validate"></script>

</body>
</html>