<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: commonHead"></head>

<body>
<div th:replace="fragments :: commonNav">공통네비</div>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9592e762541282dc4f2596f4108d38d9&libraries=services"></script>

<div class="container-sm bg-light pb-3">

    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div th:replace="rider/rider-fragments :: riderPageNav('배달할주문')"></div>
        </div>
        <div class="col-sm-12 fs-2">
            <div th:replace="rider/rider-fragments :: riderOrderNav (${orderStatus})"></div>
        </div>
        <div class="col-sm-12 text-center fs-3">
            <div class="text-center" th:if="${orderStatus == 'delivery_ready'}" style="font-size: 40px">픽업할 주문</div>
            <div class="text-center" th:if="${orderStatus == 'delivery_start'}" style="font-size: 40px">배달중인 주문</div>
            <small class="form-text" th:if="${orderStatus == 'delivery_start'}"><u>길찾기 기능은 '카카오내비'가 설치된 모바일 환경에서만
                작동합니다.</u></small>
            <div class="text-center" th:if="${orderStatus == 'completed'}" style="font-size: 40px">배달완료 주문</div>
            <hr>
        </div>


        <!-- Delivery Completed -->
        <div class="col-sm-12 text-center">
            <div class="col-sm-12" th:if="${orderStatus == 'completed' && !rider.managerAuthenticated}">
                <div th:replace="rider/rider-fragments :: riderAuthDiv"></div>
            </div>
        </div>
        <div class="col-sm-12 fs-2 text-center" th:if="${orderStatus == 'completed' && riderOrdersList.isEmpty()}">
            현재 배달 완료한 주문이 아직 없으시네요!
        </div>
        <div class="col-sm-12 fs-4 text-center" th:if="${orderStatus == 'completed' && !riderOrdersList.isEmpty()}">
            <table class="table table-hover text-center">
                <thead class="fs-2">
                <tr>
                    <th scope="col" class="col-sm-6">가게명</th>
                    <th scope="col" class="col-sm-6">가게위치</th>
                </tr>
                </thead>
                <tbody id="completedTbody">
                <tr th:each="riderOrders : ${riderOrdersList}">
                    <td class="align-middle fs-3">
                        <span th:id="${riderOrders.id + 'store' + 'storename'}"
                              th:text="${storeMap.get(riderOrders.id).nickname}"></span>
                    </td>
                    <td th:id="${riderOrders.id + 'store' + 'storetd'}">
                        <span th:id="${riderOrders.id + 'store' + 'store-road'}"
                              th:text="${storeMap.get(riderOrders.id).address.road}"></span>
                        <span th:text="${storeMap.get(riderOrders.id).address.detail}"></span><br>
                        <span class="position-relative link-primary" th:id="${riderOrders.id + 'store'}"
                              onclick="makeMap(this, 'store')">
                            <a href="#" class="stretched-link" onclick="return false;"></a>
                            <i class="fas fa-map-marked-alt"></i>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
            <script>
                let orderStatus = '[[${orderStatus}]]';
                let nowPage = 1;
                let ajaxReady = true;
                let isLast = false;

                $(document).ready(function () {
                    $(document).scroll(function () {
                        var maxHeight = $(document).height();
                        var currentScroll = $(window).scrollTop() + $(window).height();

                        if (currentScroll >= maxHeight - 100 && ajaxReady && !isLast) {
                            ajaxReady = false;
                            $.ajax({
                                url: '/rider/api/order-list/' + orderStatus + '?page=' + nowPage,
                                type: 'get',
                                dataType: 'json',
                                success: function (result) {
                                    ajaxReady = false;
                                    isLast = result.last;
                                    if (orderStatus == 'completed') {
                                        let orderRegDateList = result.orderRegDateList;
                                        let storeAddressMap = result.storeAddressMap;
                                        let storeNicknameMap = result.storeNicknameMap;
                                        let completedTbody = document.getElementById('completedTbody');
                                        isLast = result.last;

                                        for (let orderRegDate of orderRegDateList) {
                                            let tr = document.createElement('tr');
                                            let firstTd = document.createElement('td');
                                            firstTd.className = 'align-middle fs-3';
                                            let storeNameSpan = document.createElement('span');
                                            storeNameSpan.id = orderRegDate + 'store' + 'storename';
                                            storeNameSpan.innerText = storeNicknameMap[orderRegDate];
                                            firstTd.appendChild(storeNameSpan);
                                            tr.appendChild(firstTd);

                                            let secondTd = document.createElement('td');
                                            secondTd.id = orderRegDate + 'store' + 'storetd';
                                            let storeRoadSpan = document.createElement('span');
                                            storeRoadSpan.id = orderRegDate + 'store' + 'store-road';
                                            storeRoadSpan.innerText = storeAddressMap[orderRegDate].road;
                                            secondTd.appendChild(storeRoadSpan);

                                            let storeDetailSpan = document.createElement('span');
                                            storeDetailSpan.innerText = ' ' + storeAddressMap[orderRegDate].detail;
                                            secondTd.appendChild(storeDetailSpan);
                                            let secondTdBr = document.createElement('br');
                                            secondTd.appendChild(secondTdBr);

                                            let mapSpan = document.createElement('span');
                                            mapSpan.className = 'position-relative link-primary';
                                            mapSpan.id = orderRegDate + 'store';
                                            mapSpan.setAttribute('onclick', "makeMap(this, 'store')");
                                            let mapLink = document.createElement('a');
                                            mapLink.href = '#';
                                            mapLink.className = 'stretched-link';
                                            mapLink.setAttribute('onclick', 'return false;');
                                            mapSpan.appendChild(mapLink);
                                            let mapIcon = document.createElement('i');
                                            mapIcon.className = 'fas fa-map-marked-alt';
                                            mapSpan.appendChild(mapIcon);
                                            secondTd.appendChild(mapSpan);
                                            tr.appendChild(secondTd);
                                            completedTbody.appendChild(tr);
                                        }
                                    }
                                },
                                error: function () {
                                    alert('목록을 불러오던 중 에러가 발생하였습니다. 계속 발생할경우 관리자에게 문의해주세요')
                                }
                            });
                        }
                    });
                });
            </script>
        </div>

        <!-- Delivery Ready or Start -->
        <div class="col-sm-12 text-center"
             th:if="${(orderStatus == 'delivery_ready' || orderStatus == 'delivery_start') && !rider.managerAuthenticated}">
            <div class="col-sm-12">
                <div th:replace="rider/rider-fragments :: riderAuthDiv"></div>
            </div>
        </div>
        <div class="col-sm-12 fs-2 text-center" th:if="${orderStatus == 'delivery_ready' && ordersList.isEmpty()}">
            현재 배달 수락하신 주문이 없네요!
        </div>
        <div class="col-sm-12 fs-2 text-center" th:if="${orderStatus == 'delivery_start' && ordersList.isEmpty()}">
            현재 배달 중이신 주문이 없네요!
        </div>
        <div class="col-sm-12 fs-4 text-center"
             th:if="${(orderStatus == 'delivery_ready' or orderStatus == 'delivery_start') && !ordersList.isEmpty()}"
             th:each="order : ${ordersList}">
            <div class="row g-3 justify-content-center">
                <div class="col-sm-1 align-self-center text-center" th:if="${orderStatus == 'delivery_start'}">
                    <form th:action="@{'/rider/' + ${order.id} + '/delivery-completed'}" method="post"
                          class="row justify-content-center d-grid">
                        <button type="submit" class="btn btn-outline-success fs-4">완료</button>
                    </form>
                </div>
                <div class="col-sm-2 align-self-center">
                    <span>가게명</span><br>
                    <span th:id="${order.regDate + 'store' + 'storename'}"
                          th:text="${storeMap.get(order.regDate).nickname}"></span>
                </div>
                <div class="col-sm-4 align-middle">
                    <span>가게위치</span><br>
                    <span th:id="${order.regDate + 'store' + 'store-road'}"
                          th:text="${storeMap.get(order.regDate).address.road}"></span>
                    <span th:text="${' ' + storeMap.get(order.regDate).address.detail}"></span><br>
                    <span class="position-relative link-primary" th:id="${order.regDate + 'store'}"
                          onclick="makeMap(this, 'store')">
                            <a href="#" class="stretched-link" onclick="return false;"></a>
                            <i class="fas fa-map-marked-alt"></i>
                        </span>
                    <div th:id="${order.regDate + 'store'} + 'storetd'"></div>
                </div>
                <div class="col-sm-4 align-middle">
                    <div class="row justify-content-center">
                        <div class="col-sm-12">
                            <span>배송지</span><br>
                            <span th:id="${order.regDate + 'account' + 'account-road'}"
                                  th:text="${accountMap.get(order.regDate).address.road}"></span>

                            <span th:text="${accountMap.get(order.regDate).address.detail}"></span><br>
                            <span class="position-relative link-primary"
                                  th:id="${order.regDate + 'account'}"
                                  onclick="makeMap(this, 'account')">
                            <a href="#" class="stretched-link" onclick="return false;"></a>
                            <i class="fas fa-map-marked-alt"></i>
                        </span>
                        </div>
                        <div class="col-sm-12"
                             th:id="${order.regDate + 'account'} + 'accounttd'"></div>
                    </div>
                </div>
                <div class="col-sm-1 align-self-center" th:if="${orderStatus == 'delivery_ready'}">
                    <a th:href="@{'/rider/' + ${order.id} + '/detail'}"
                       class="btn btn-outline-primary fs-5 my-2">상세보기</a>
                    <form th:action="@{'/rider/' + ${order.id} + '/delivery-start'}" method="post">
                        <button type="submit" class="btn btn-outline-success fs-5">배달시작</button>
                    </form>
                </div>
                <div class="col-sm-1 align-self-center " th:if="${orderStatus == 'delivery_start'}">
                    <div>길찾기</div>
                    <a th:id="${order.regDate + 'account'}" href="#" onclick="navi(this)">
                        <img src="https://developers.kakao.com/assets/img/about/buttons/navi/kakaonavi_btn_medium.png"/>
                    </a>
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-sm-12 fs-4 text-center"
             th:if="${(orderStatus == 'delivery_ready' or orderStatus == 'delivery_start') && !ordersList.isEmpty()}">
            <div id="orderListDiv" class="row g-3 justify-content-center">

            </div>
            <script>
                let orderStatus = '[[${orderStatus}]]';
                let nowPage = 1;
                let ajaxReady = true;
                let isLast = false;

                $(document).ready(function () {
                    $(document).scroll(function () {
                        var maxHeight = $(document).height();
                        var currentScroll = $(window).scrollTop() + $(window).height();

                        if (currentScroll >= maxHeight - 100 && ajaxReady && !isLast) {
                            ajaxReady = false;
                            $.ajax({
                                url: '/rider/api/order-list/' + orderStatus + '?page=' + nowPage,
                                type: 'get',
                                dataType: 'json',
                                success: function (result) {
                                    ajaxReady = false;
                                    isLast = result.last;
                                    if (orderStatus == 'delivery_ready' || orderStatus == 'delivery_start') {
                                        let orderListDiv = document.getElementById('orderListDiv');
                                        let orderRegDateList = result.orderRegDateList;
                                        let orderIdMap = result.orderIdMap;
                                        let storeNicknameMap = result.storeNicknameMap;
                                        let storeAddressMap = result.storeAddressMap;
                                        let accountAddressMap = result.accountAddressMap;
                                        isLast = result.last;

                                        for (let orderRegDate of orderRegDateList) {
                                            if (orderStatus == 'delivery_start') {
                                                let formDiv = document.createElement('div');
                                                formDiv.className = 'col-sm-1 align-self-center text-center';

                                                let form = document.createElement('form');
                                                form.className = 'row justify-content-center d-grid';
                                                form.action = '/rider/' + orderIdMap[orderRegDate] + '/delivery-completed?_csrf=' + '[[${_csrf.token}]]';
                                                form.method = 'post';
                                                form.className = 'row justify-content-center d-grid';

                                                let submitButton = document.createElement('button');
                                                submitButton.type = 'submit';
                                                submitButton.className = 'btn btn-outline-success fs-4';
                                                submitButton.innerText = '완료';
                                                form.appendChild(submitButton);
                                                formDiv.appendChild(form);
                                                orderListDiv.appendChild(formDiv);
                                            }

                                            let storeNameDiv = document.createElement('div');
                                            storeNameDiv.className = 'col-sm-2 align-self-center';
                                            let storeNameFirstSpan = document.createElement('span');
                                            storeNameFirstSpan.innerText = '가게명'
                                            storeNameDiv.appendChild(storeNameFirstSpan);
                                            let br = document.createElement('br');
                                            storeNameDiv.appendChild(br);

                                            let storeNameSecondSpan = document.createElement('span');
                                            storeNameSecondSpan.id = orderRegDate + 'store' + 'storename';
                                            storeNameSecondSpan.innerText = storeNicknameMap[orderRegDate];
                                            storeNameDiv.appendChild(storeNameSecondSpan);
                                            orderListDiv.appendChild(storeNameDiv);

                                            // 가게위치
                                            let storePlaceParentDiv = document.createElement('div');
                                            storePlaceParentDiv.className = 'col-sm-4 align-middle';
                                            let placeFirstSpan = document.createElement('span');
                                            placeFirstSpan.innerText = '가게위치';
                                            storePlaceParentDiv.appendChild(placeFirstSpan);
                                            let placeBr1 = document.createElement('br');
                                            storePlaceParentDiv.appendChild(placeBr1);
                                            let placeSecondSpan = document.createElement('span');
                                            placeSecondSpan.id = orderRegDate + 'store' + 'store-road';
                                            placeSecondSpan.innerText = storeAddressMap[orderRegDate].road;
                                            storePlaceParentDiv.appendChild(placeSecondSpan);
                                            let placeThirdSpan = document.createElement('span');
                                            placeThirdSpan.innerText = ' ' + storeAddressMap[orderRegDate].detail;
                                            storePlaceParentDiv.appendChild(placeThirdSpan);
                                            let placeBr2 = document.createElement('br');
                                            storePlaceParentDiv.appendChild(placeBr2);
                                            let placeFourthSpan = document.createElement('span');
                                            placeFourthSpan.className = 'position-relative link-primary';
                                            placeFourthSpan.id = orderRegDate + 'store';
                                            placeFourthSpan.setAttribute('onclick', "makeMap(this, 'store')");
                                            let storeMapLink = document.createElement('a');
                                            storeMapLink.href = '#';
                                            storeMapLink.className = 'stretched-link';
                                            storeMapLink.setAttribute('onclick', 'return false;');
                                            placeFourthSpan.appendChild(storeMapLink);
                                            let storeMapIcon = document.createElement('i');
                                            storeMapIcon.className = 'fas fa-map-marked-alt';
                                            placeFourthSpan.appendChild(storeMapIcon);
                                            storePlaceParentDiv.appendChild(placeFourthSpan);
                                            let storeMapDiv = document.createElement('div');
                                            storeMapDiv.id = orderRegDate + 'store' + 'storetd';
                                            storePlaceParentDiv.appendChild(storeMapDiv);
                                            orderListDiv.appendChild(storePlaceParentDiv);

                                            // 배송지
                                            let deliveryPlaceParentDiv = document.createElement('div');
                                            deliveryPlaceParentDiv.className = 'col-sm-4 align-middle';
                                            let deliveryPlaceFirstSpan = document.createElement('span');
                                            deliveryPlaceFirstSpan.innerText = '배송지';
                                            deliveryPlaceParentDiv.appendChild(deliveryPlaceFirstSpan);
                                            let deliveryPlaceBr1 = document.createElement('br');
                                            deliveryPlaceParentDiv.appendChild(deliveryPlaceBr1);
                                            let deliveryPlaceSecondSpan = document.createElement('span');
                                            deliveryPlaceSecondSpan.id = orderRegDate + 'account' + 'account-road';
                                            deliveryPlaceSecondSpan.innerText = accountAddressMap[orderRegDate].road;
                                            deliveryPlaceParentDiv.appendChild(deliveryPlaceSecondSpan);
                                            let deliveryThirdSpan = document.createElement('span');
                                            deliveryThirdSpan.innerText = ' ' + accountAddressMap[orderRegDate].detail;
                                            deliveryPlaceParentDiv.appendChild(deliveryThirdSpan);
                                            let deliveryPlaceBr2 = document.createElement('br');
                                            deliveryPlaceParentDiv.appendChild(deliveryPlaceBr2);
                                            let deliveryPlaceFourthSpan = document.createElement('span');
                                            deliveryPlaceFourthSpan.className = 'position-relative link-primary';
                                            deliveryPlaceFourthSpan.id = orderRegDate + 'account';
                                            deliveryPlaceFourthSpan.setAttribute('onclick', "makeMap(this, 'account')");
                                            let deliveryMapLink = document.createElement('a');
                                            deliveryMapLink.href = '#';
                                            deliveryMapLink.className = 'stretched-link';
                                            deliveryMapLink.setAttribute('onclick', 'return false;');
                                            deliveryPlaceFourthSpan.appendChild(deliveryMapLink);
                                            let deliveryMapIcon = document.createElement('i');
                                            deliveryMapIcon.className = 'fas fa-map-marked-alt';
                                            deliveryPlaceFourthSpan.appendChild(deliveryMapIcon);
                                            deliveryPlaceParentDiv.appendChild(deliveryPlaceFourthSpan);
                                            let deliveryMapDiv = document.createElement('div');
                                            deliveryMapDiv.id = orderRegDate + 'account' + 'accounttd';
                                            deliveryPlaceParentDiv.appendChild(deliveryMapDiv);
                                            orderListDiv.appendChild(deliveryPlaceParentDiv);

                                            let lastDiv = document.createElement('div');
                                            lastDiv.className = 'col-sm-1 align-self-center';
                                            if (orderStatus == 'delivery_start') {
                                                let naviDiv = document.createElement('div');
                                                naviDiv.innerText = '길찾기';
                                                lastDiv.appendChild(naviDiv);

                                                let naviLink = document.createElement('a');
                                                naviLink.id = orderRegDate + 'account';
                                                naviLink.href = '#';
                                                naviLink.setAttribute('onclick', 'navi(this)');
                                                let naviImg = document.createElement('img');
                                                naviImg.src = 'https://developers.kakao.com/assets/img/about/buttons/navi/kakaonavi_btn_medium.png';
                                                naviLink.appendChild(naviImg);
                                                lastDiv.appendChild(naviLink);
                                            } else {
                                                let detailLink = document.createElement('a');
                                                detailLink.href = '/rider/' + orderIdMap[orderRegDate] + '/detail';
                                                detailLink.className = 'btn btn-outline-primary fs-5 my-2';
                                                detailLink.innerText = '상세보기';
                                                lastDiv.appendChild(detailLink);

                                                let deliveryForm = document.createElement('form');
                                                deliveryForm.action = '/rider/' + orderIdMap[orderRegDate] + '/delivery-start?_csrf=' + '[[${_csrf.token}]]';
                                                deliveryForm.method = 'post';
                                                let submitButton = document.createElement('button');
                                                submitButton.className = 'btn btn-outline-success fs-5';
                                                submitButton.innerText = '배달시작';
                                                deliveryForm.appendChild(submitButton);
                                                lastDiv.appendChild(deliveryForm);

                                            }
                                            orderListDiv.appendChild(lastDiv);

                                            let hrDiv = document.createElement('div');
                                            hrDiv.className = 'col-sm-12';
                                            let lastHr = document.createElement('hr');
                                            hrDiv.appendChild(lastHr);
                                            orderListDiv.appendChild(hrDiv);
                                        }
                                    }
                                    nowPage++;
                                    ajaxReady = true;
                                },
                                error: function () {
                                    alert('주문 목록을 불러오던 중 에러가 발생했습니다. 에러가 지속적으로 발생시 관리자에게 문의해주세요');
                                }
                            });
                        }
                    });
                });
            </script>
        </div>
    </div>
</div>
<script th:replace="rider/rider-fragments :: riderMapJs"></script>
<script>
    function navi(object) {
        let id = object.getAttribute('id');
        let road = document.getElementById(id + 'account-road').innerText;
        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();
        // 주소로 좌표를 검색합니다
        geocoder.addressSearch(road, function (result, status) {
            // 정상적으로 검색이 완료됐으면
            if (status === kakao.maps.services.Status.OK) {
                // result = 위의 addressSearch에서 road값으로 검색한 결과의 x,y값을 갖고있음
                Kakao.Navi.share({
                    name: road,
                    x: result[0].x,
                    y: result[0].y,
                    coordType: 'wgs84',
                });
            }
        });
    }
</script>
</body>
</html>