<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: commonHead"></head>

<body>
<div th:replace="fragments :: commonNav">공통네비</div>

<div class="container-sm bg-light p-0 pb-5">

    <div class="row justify-content-center">
        <div class="col-sm-12 fs-4">
            <div th:replace="rider/rider-fragments :: riderPageNav('배달할주문')"></div>
        </div>
        <div class="col-sm-12 fs-2">
            <div th:replace="rider/rider-fragments :: riderOrderNav (${orderStatus})"></div>
        </div>
        <div class="col-sm-12">
            <div class="text-center" style="font-size: 40px">배달할 주문</div>
            <hr>
        </div>
        <div class="col-sm-12">
            <table class="table table-hover text-center fs-4">
                <thead>
                <tr>
                    <th scope="col" class="col-sm-3">가게명</th>
                    <th scope="col" class="col-sm-6">가게위치</th>
                    <th scope="col" class="col-sm-3">버튼</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orderList}">
                    <td th:text="${storeMap.get(order.id).nickname}"></td>
                    <td>
                        <span th:text="${storeAddressMap.get(order.id).road + ' ' + storeAddressMap.get(order.id).detail}"></span>
                    </td>
                    <td>
                        <form th:action="@{'/rider/order-accept/' + ${order.id}}" method="post" class="d-grid">
                            <button type="submit" class="btn btn-outline-success fs-4">배달시작</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>