<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="riderPageNav (nowPage)">
    <nav class="nav nav-pills nav-justified">
        <a class="nav-link border" aria-current="page" th:href="@{/rider/rider-page}" th:classappend="${nowPage == '마이페이지'} ? 'active'">마이페이지</a>
        <a class="nav-link border" th:href="@{/rider/order-list}" th:classappend="${nowPage == '배달할주문'} ? 'active'">배달할 주문</a>
        <a class="nav-link border" th:href="@{/rider/modify-password}" th:classappend="${nowPage == '비밀번호변경'} ? 'active'">비밀번호변경</a>
        <a class="nav-link border" th:href="@{/orders}" th:classappend="${nowPage == '주문조회'} ? 'active'">주문조회</a>
        <a class="nav-link border" th:href="@{/review}" th:classappend="${nowPage == '리뷰조회'} ? 'active'">리뷰조회</a>
    </nav>
</div>

<div th:fragment="riderOrderNav (nowPage)">
    <nav class="nav nav-pills nav-justified">
        <a class="nav-link border" aria-current="page" th:href="@{/rider/order-list}" th:classappend="${nowPage == 'ready'} ? 'active'">배달할 주문</a>
        <a class="nav-link border" aria-current="page" th:href="@{/rider/order-list/delivery_ready}" th:classappend="${nowPage == 'delivery_ready'} ? 'active'">픽업할 주문</a>
        <a class="nav-link border" th:href="@{/rider/order-list/delivery_start}" th:classappend="${nowPage == 'delivery_start'} ? 'active'">배달중인 주문</a>
        <a class="nav-link border" th:href="@{/rider/order-list/completed}" th:classappend="${nowPage == 'completed'} ? 'active'">배달완료 주문</a>
    </nav>
</div>
</html>