<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: commonHead"></head>

<body>
<div th:replace="fragments :: commonNav">공통네비</div>
<div class="container-sm bg-light p-0 pb-5">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div class="text-center" style="font-size: 40px">비밀번호 찾기</div>
            <hr>
        </div>
        <div class="col-sm-6 bg-light">
            <form th:action="@{/forgot/password}" method="post" th:object="${forgotDto}" class="row g-3 justify-content-center needs-validation" novalidate>
                <div class="form-group">
                    <label for="email" class="form-label">이메일</label>
                    <input id="email" type="email" name="email" class="form-control" th:fields="*{email}" required/>
                    <small class="invalid-feedback">가입시 입력한 이메일을 입력해주세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-outline-success fs-3">확인</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:replace="fragments :: form-validate"></script>
</body>
</html>