<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: commonHead"></head>

<body>
<div th:replace="fragments :: commonNav">공통네비</div>
<div class="container-sm bg-light p-0 pb-5">
    <div class="row g-3 justify-content-center">
        <div class="col-sm-12">
            <div class="text-center" style="font-size: 40px">비밀번호 찾기</div>
            <hr>
        </div>
        <div class="col-sm-12 bg-light text-center">
            <span th:text="${convertedEmail} + '로 비밀번호 변경 이메일을 발송했습니다.'"></span><br>
            <span>메일을 확인해주세요.</span>
        </div>
        <div class="col-sm-6 d-grid">
            <a th:href="@{/}" class="btn btn-outline-secondary">메인화면</a>
        </div>
    </div>
</div>

<script th:replace="fragments :: form-validate"></script>
</body>
</html>