<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: commonHead"></head>

<body>
<div th:replace="fragments :: commonNav">공통네비</div>

<div class="container-sm bg-light p-0 pb-5">
    <div class="row g-3 justify-content-center">
        <div class="col-sm-12">
            <h2 class="text-center" style="font-size: 40px">비밀번호 변경</h2>
            <hr>
        </div>
        <div class="col-sm-10 text-center">
            <h2>비밀번호 변경 완료!</h2>
            <div>이제 변경된 비밀번호로 로그인 가능해요!</div>
        </div>
        <div class="col-sm-4 d-grid">
            <a th:href="@{/login}" class="btn btn-outline-primary">로그인</a>
        </div>
        <div class="col-sm-4 d-grid">
            <a th:href="@{/}" class="btn btn-outline-secondary">메인화면</a>
        </div>
    </div>
</div>
<script th:replace="fragments :: form-validate"></script>
</body>
</html>