<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: commonHead"></head>
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <style>
        #star span {
            text-decoration: none;
            color: gray;
        }

        #star span.on {
            color: #FFD700;
        }

    </style>
</head>
<body>
<div th:replace="fragments :: commonNav">공통네비</div>

<div class="container-sm bg-light pb-5">

    <div class="row g-3 justify-content-center">
        <div class="col-sm-12">
            <div class="row g-3 justify-content-center">
                <div th:replace="mystore/mystore-fragments :: mystoreNav ('가게리뷰조회')"></div>
                <div class="col-sm-12 fs-1 text-center" style="background-color: #e9ecef">
                    가게리뷰조회
                </div>
                <div class="col-sm-12 text-start">
                    <button type="button" class="btn btn-outline-success fs-4" onclick="history.back()">이전화면</button>
                </div>
                <div class="col-sm-12 text-center">
                    <hr class="mt-1 bg-light">
                    <div id="reviewListDiv" class="row gx-4 justify-content-center">
                        <div class="col-sm-12 fs-2" th:if="${reviewList.isEmpty()}">
                            아직 가게 리뷰가 없네요!<br> 곧 작성될 예정이에요~
                        </div>
                        <div class="col-sm-12 fs-3 p-3 border" th:if="${!reviewList.isEmpty()}" th:each="review : ${reviewList}">
                            <div class="row g-3 justify-content-center">
                                <div class="col-sm-12 text-center">
                                    <img th:src="${review.storeThumbnail}" width="70"/>
                                    <span th:text="'작성자: ' + ${review.accountName}"></span>
                                </div>
                                <div class="col-sm-12">
                                    <p id="star" class="fs-2"> <!-- 부모 -->
                                        <span th:classappend="${review.starPoint >= number} ? 'on'" th:each="number : ${#numbers.sequence(1,5)}">★</span>
                                    <p>
                                    <hr>
                                </div>
                                <div class="col-sm-12">
                                    <div th:utext="${review.reviewContent}"></div>
                                </div>
                                <div class="col-sm-6" th:if="${review.storeReviewContent == null}">
                                    <div class="d-grid">
                                        <button th:id="${review.reviewId}" type="button" class="btn btn-outline-success fs-4" onclick="makeReply(this)">답글달기</button>
                                    </div>
                                        <div th:id="${review.reviewId + 'formDiv'}" class="form-floating d-grid">
                                        </div>

                                    <script>
                                        function addStoreReview(reviewId){
                                            let content = document.getElementById('content');
                                            let token = $('meta[name="_csrf"]').attr('content');
                                            let header = $('meta[name="_csrf_header"]').attr('content');
                                            let data = {
                                                'content' : content.value
                                            };
                                            $.ajax({
                                                url: '/mystore/' + reviewId + '/add-store-review',
                                                type: 'post',
                                                data: JSON.stringify(data),
                                                contentType: 'application/json',
                                                beforeSend: function(xhr){
                                                    xhr.setRequestHeader(header, token);
                                                },
                                                success: function(result){
                                                    alert('답글이 정상적으로 추가되었습니다');
                                                    window.location.href = '[[${#request.getContextPath()}]]' + '/mystore/review';
                                                },
                                                error: function(){
                                                    alert('답글 추가중 에러가 발생하였습니다. 계속 반복 될 경우 관리자에게 문의해주세요');
                                                }
                                            })
                                        }

                                        function makeReply(btn){
                                            let formDivId = btn.id + 'formDiv';
                                            let formDiv = document.getElementById(formDivId);
                                            let textarea = document.createElement('textarea');
                                            let reviewId = btn.id;
                                            textarea.id = 'content';
                                            textarea.name = 'content';
                                            textarea.setAttribute('class', 'form-control fs-3');
                                            textarea.style.height = '300px';
                                            textarea.style.resize = 'none';
                                            formDiv.appendChild(textarea);

                                            let submitBtn = document.createElement('button');
                                            submitBtn.type = 'button';
                                            submitBtn.setAttribute('class', 'btn btn-outline-success mt-2 fs-4');
                                            submitBtn.innerHTML = '작성하기'
                                            submitBtn.addEventListener('click', function(){
                                               addStoreReview(reviewId);
                                            });
                                            formDiv.appendChild(submitBtn);

                                            btn.style.display = 'none';

                                        }
                                    </script>
                                </div>
                                <div class="col-sm-6" th:if="${review.storeReviewContent != null}">
                                    <div class="text-start" style="background-color: #dee2e6"><i class="fas fa-reply fa-rotate-180"></i> 사장님 :</div>
                                    <hr class="m-0">
                                    <div style="background-color: #e9ecef" th:text="${review.storeReviewContent}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // 무한 스크롤링
    let ajaxReady = true;
    let nowPage = 1;
    let isLast = false;
    let reviewListDiv = document.getElementById('reviewListDiv');

    $(document).ready(function () {
        $(document).scroll(function() {
            var maxHeight = $(document).height();
            var currentScroll = $(window).scrollTop() + $(window).height();

            if (currentScroll >= maxHeight - 100 && ajaxReady && !isLast) {
                ajaxReady = false;
                $.ajax({
                    url: '/review/api?page=' + nowPage,
                    type: 'get',
                    dataType: 'json',
                    success: function (result) {
                        let reviewFetchDtoList = result.reviewFetchDtoList;
                        isLast = result.last;

                        for (let reviewFetchDto of reviewFetchDtoList) {
                            let reviewId = reviewFetchDto.reviewId;
                            let accountName = reviewFetchDto.accountName;
                            let storeThumbnailName = reviewFetchDto.storeThumbnail;
                            let storeReview = reviewFetchDto.storeReviewContent;
                            let starPoint = reviewFetchDto.starPoint;

                            let reviewParentDiv = document.createElement('div');
                            reviewParentDiv.setAttribute('class', 'col-sm-12 fs-3 p-3 m-0 border');
                            let reviewRowDiv = document.createElement('div')
                            reviewRowDiv.setAttribute('class', 'row g-3 justify-content-center');

                            // 상호썸네일, 상호명
                            let storeNameDiv = document.createElement('div');
                            storeNameDiv.setAttribute('class', 'text-center');
                            let storeThumbnail = document.createElement('img');
                            storeThumbnail.src = storeThumbnailName;
                            storeThumbnail.width = '70';
                            storeNameDiv.appendChild(storeThumbnail);
                            let storeNameSpan = document.createElement('span');
                            storeNameSpan.innerText = ' 작성자: ' + accountName;
                            storeNameDiv.appendChild(storeNameSpan);
                            reviewRowDiv.appendChild(storeNameDiv);

                            let starPointDiv = document.createElement('div');
                            starPointDiv.setAttribute('class', 'col-sm-12');
                            let starPointP = document.createElement('p');
                            starPointP.id = 'star';
                            starPointP.setAttribute('class', 'fs-2');

                            // 별점
                            for(let a=1; a <= 5; a++){
                                let starPointSpan = document.createElement('span');

                                if(a <= starPoint){
                                    starPointSpan.setAttribute('class','on');
                                }

                                starPointSpan.innerText = '★';
                                starPointP.appendChild(starPointSpan);
                            }
                            starPointDiv.appendChild(starPointP);
                            let hr = document.createElement('hr');
                            starPointDiv.appendChild(hr);
                            reviewRowDiv.appendChild(starPointDiv);

                            let reviewContentDiv = document.createElement('div');
                            reviewContentDiv.setAttribute('class', 'col-sm-12');
                            reviewContentDiv.innerHTML = reviewFetchDto.reviewContent;
                            reviewRowDiv.appendChild(reviewContentDiv);

                            // 사장님리뷰
                            let storeReviewContainerDiv = document.createElement('div');
                            storeReviewContainerDiv.setAttribute('class', 'col-sm-6');
                            let ownerIconDiv = document.createElement('div');
                            ownerIconDiv.setAttribute('class', 'text-start');
                            ownerIconDiv.style.backgroundColor = '#dee2e6';
                            let ownerIcon = document.createElement('i');
                            ownerIcon.setAttribute('class', 'fas fa-reply fa-rotate-180');
                            ownerIconDiv.appendChild(ownerIcon);
                            let ownerSpan = document.createElement('span');
                            ownerSpan.innerText = '사장님 :';
                            ownerIconDiv.appendChild(ownerSpan);
                            storeReviewContainerDiv.appendChild(ownerIconDiv);

                            if(storeReview != null){
                                // 가게답글있을때
                                let ownerReviewDiv = document.createElement('div');
                                ownerReviewDiv.style.backgroundColor = '#e9ecef';
                                ownerReviewDiv.innerText = storeReview;
                                storeReviewContainerDiv.appendChild(ownerReviewDiv);
                                reviewRowDiv.appendChild(storeReviewContainerDiv);
                            }else{
                                // 가게 답글 없을떄
                                let replyButtonDiv = document.createElement('div');
                                replyButtonDiv.id = reviewId;
                                replyButtonDiv.setAttribute('class', 'col-sm-6 d-grid');

                                let replyButton = document.createElement('button');
                                replyButton.id = reviewId;
                                replyButton.type = 'button';
                                replyButton.setAttribute('class', 'btn btn-outline-success fs-4');
                                replyButton.setAttribute('onclick', 'makeReply(this)');
                                replyButton.innerHTML = '답글달기';
                                replyButtonDiv.appendChild(replyButton);

                                let replyFormDiv = document.createElement('div');
                                replyFormDiv.id = reviewId + 'formDiv';
                                replyFormDiv.setAttribute('class', 'form-floating col-sm-12 d-grid');
                                replyButtonDiv.appendChild(replyFormDiv);

                                reviewRowDiv.appendChild(replyButtonDiv);
                            }
                            reviewParentDiv.appendChild(reviewRowDiv);
                            reviewListDiv.appendChild(reviewParentDiv);
                        }
                        nowPage++;
                        ajaxReady = true;
                    },
                    error: function (){
                        alert('가게 목록을 불러오던 중 에러가 발생했습니다. 에러가 지속적으로 발생시 관리자에게 문의해주세요');
                    }
                });
            }
        });
    });
</script>
</body>
</html>